<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Poem 2 | Poetry World</title>
</head>
<nav>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links">
        <div class="userside">
            <img src="../images/poet.png" alt="">
            <p>Poetry World</p><span> poetryworld.ph@email.com</span>
        </div>
        <div class="dashboard">
            <p>Dashboard</p>
            <li><a href="../index.html"><span class="label">home</span></a></li>
            <li><a href="../about/about.html"><span class="label">about the author</span></a></li>
        </div>
        <div class="pages">
            <p>Pages</p>
            <li><a href="temp-1.html"><span class="label">Moment of Truth</span></a></li>
            <li><a href="temp-2.html"><span class="label">20/20 Vision</span></a></li>
            <li><a href="temp-3.html"><span class="label">Payback Time</span></a></li>
            <li><a href="temp-4.html"><span class="label">Warmth Feelings</span></a></li>
        </div>
        <div class="settings">
            <li><a href="https://mail.google.com"><i class="fas fa-envelope"></i></a></li>
            <li><a href="https://www.facebook.com/rowwnyy"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/rowwwnnniiy"><i class="fab fa-twitter"></i></a></li>
        </div>
    </ul>
</nav>

<body>
    <div class="container-2">
        <div class="header">
            <h1>20/20 Vision</h1>
            <h3>(Free Verse Poem)</h3>
        </div>
        <div class="hero">
            <div class="component-2">
                <p> Achievement is meant for those who deserve it;</p>
                <p> Grief - the moment of sorrow</p>
                <p> Enjoy - the point of achievement</p>
                <p> Anger - the moment of procrastination</p>
                <p> Sad - the time of your rejection</p>
                <p> What makes you survive?</p>
                <p> is the moment you let the severe test</p>
                <p> to penetrate your soul and mind.</p>
                <p> Be amazed since the duration has elapsed.</p>
                <p> This is time to cherish</p>
                <p> Appreciate your good reputation.</p>
                <p> It marks your hailing moment.</p>
                <p> Reminisce, oh reminisce!</p>
                <p> It was such great college days.</p>
            </div>
        </div>
    </div>
    <script src="../main.js"></script>
</body>

</html>