<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Poem 3 | Poetry World</title>
</head>
<nav>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links">
        <div class="userside">
            <img src="../images/poet.png" alt="">
            <p>Poetry World</p><span> poetryworld.ph@email.com</span>
        </div>
        <div class="dashboard">
            <p>Dashboard</p>
            <li><a href="../dashboard/index.html"><span class="label">home</span></a></li>
            <li><a href="../about/about.html"><span class="label">about the author</span></a></li>
        </div>
        <div class="pages">
            <p>Pages</p>
            <li><a href="temp-1.html"><span class="label">Moment of Truth</span></a></li>
            <li><a href="temp-2.html"><span class="label">20/20 Vision</span></a></li>
            <li><a href="temp-3.html"><span class="label">Payback Time</span></a></li>
            <li><a href="temp-4.html"><span class="label">Warmth Feelings</span></a></li>
        </div>
        <div class="settings">
            <li><a>links</a></li>
            <li><a>dates</a></li>
            <li><a>settings</a></li>
        </div>
    </ul>
</nav>

<body>
    <div class="container-3">
        <div class="header">
            <h1>Poetry World</h1>
        </div>
        <div class="hero">
            <div class="component-3">
                <h2>Payback Time</h2>
                <h3>(Triolet Poem)</h3>
                <p>Feeling delight for this achievement</p>
                <p>A sentiment of enjoyment I never expected</p>
                <p>since I remembered the hardship moment</p>
                <p>Feeling delight for this achievement</p>
                <p>as this day brings fulfillment</p>
                <p>yet I never foresaw this circumstance be fleeted</p>
                <p>Feeling delight for this achievement</p>
                <p>A sentiment of enjoyment I never expected</p>
            </div>
        </div>
    </div>
    <script src="../main.js"></script>
</body>

</html>