<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Poem 4 | Poetry World</title>
</head>
<nav>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links">
        <div class="userside">
            <img src="../images/poet.png" alt="">
            <p>Poetry World</p><span> poetryworld.ph@email.com</span>
        </div>
        <div class="dashboard">
            <p>Dashboard</p>
            <li><a href="../index.html"><span class="label">home</span></a></li>
            <li><a href="../about/about.html"><span class="label">about the author</span></a></li>
        </div>
        <div class="pages">
            <p>Pages</p>
            <li><a href="temp-1.html"><span class="label">Moment of Truth</span></a></li>
            <li><a href="temp-2.html"><span class="label">20/20 Vision</span></a></li>
            <li><a href="temp-3.html"><span class="label">Payback Time</span></a></li>
            <li><a href="temp-4.html"><span class="label">Warmth Feelings</span></a></li>
        </div>
        <div class="settings">
            <li><a href="https://mail.google.com"><i class="fas fa-envelope"></i></a></li>
            <li><a href="https://www.facebook.com/rowwnyy"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/rowwwnnniiy"><i class="fab fa-twitter"></i></a></li>
        </div>
    </ul>
</nav>

<body>
    <div class="container-4">
        <div class="header">
            <h1>Warmth Feelings</h1>
            <h3>(Free Verse Poem)</h3>
        </div>
        <div class="hero">
            <div class="component-4">
                <div class="class-1">
                    <p> Today I feel so warm</p>
                    <p> Receiving good thoughts</p>
                    <p> from my loved ones</p>
                    <p> The feeling inside of me</p>
                    <p> burst like a pulp being pinch</p>
                    <p> My amusement of this achievement</p>
                    <p> is priceless yet worth it</p>

                    <p> Being called at the recognition</p>
                    <p> is a privilege, indeed!</p>
                    <p> A favor that no one can take</p>
                    <p> you have set your the best</p>
                    <p> Knowledge is power.</p>

                    <p> First, I was once hesitant on this course</p>
                    <p> shifting is one solution, I am skeptic</p>
                    <p> learning to program is my weakness</p>
                    <p> coding makes me sluggish</p>
                    <p> computer makes me drowsy</p>
                </div>
                <div class="class-2">
                    <p> but I never give up; I overcame it all</p>

                    <p> through hardships, I was molded</p>
                    <p> through difficulties, I was founded</p>
                    <p> through battles, I was encouraged</p>
                    <p> nothing can beat this life </p>
                    <p> I'm just a mere student.</p>
                    <p> This reward is my testimony</p>

                    <p> It is impossible, yes!</p>
                    <p> but my super-warriors helped me —</p>
                    <p> my very entrusted defenders.</p>
                    <p> They are my source of strength </p>
                    <p> to get out from loneliness,</p>
                    <p> to get out from fear,</p>
                    <p> and to hone my passion.</p>
                    <p> Thank you for everything!</p>
                    <p> It was definitely proven.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../main.js"></script>
</body>

</html>